{% extends 'base.html.twig' %}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Page d'Accueil</title>
</head>
<body>
<h1>Bienvenue sur la page d'accueil !</h1>
<p>Bienvenue sur mon site Symfony. Cette page est générée par le contrôleur HomeController.</p>
</body>
</html>
